html, body {
    background-image: url(../images/watercolor.png);
    font-size: 19px;
    text-shadow: 1px 1px #9777e1;
}

p {
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color:blue;
}

a:hover {
    color:lightskyblue;
}

image {
    border-color: brown;
}